// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
html {
  // defines what 1 rem is. 1rem == 10px;
  font-size: 62.5% !important;
}
a {
  text-decoration: none;
}
.animate-left {
  animation: moveInRightLong 0.8s ease-out;
}
.animate-right{
  animation: moveInLeftLong 0.8s ease-out;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active, 
.layout-leave-active {
  transition: opacity .2s;
}
.page-enter,
.page-leave-active,
.layout-enter, 
.layout-leave-active {
  opacity: 0.3;
}
// .slide-left-enter,
// .slide-right-leave-active {
//   opacity: 0;
//   transform: translate(3rem, 0);
// }
// .slide-left-leave-active,
// .slide-right-enter {
//   opacity: 0;
//   transform: translate(-3rem, 0);
// }

.scroll-arrow {
  color: #444;
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  transform: rotate(-90deg);
  transition: opacity 0.5s, bottom 0.75s;
  &.hide {
    opacity: 0;
    bottom: 7rem;
  }
}
.arrow-point {
  position: relative;
  left: 0;
  top: 1px;
  animation: bounceVertical 1.7s infinite;
}
